---
layout: archive
permalink: /categories/
title: "Posts and Presentations by Category"
author_profile: true
---

{% include base_path %}
{% assign category_documents = site.posts | concat: site.talks %}
{% include group-by-array collection=category_documents field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] | sort: "date" | reverse %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% if post.collection == 'talks' %}
      {% include archive-single-talk.html %}
    {% else %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}
