---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% assign international = site.talks | where: "category", "international" | sort: "date" | reverse %}
{% assign domestic = site.talks | where: "category", "domestic" | sort: "date" | reverse %}

## International Conferences

{% for post in international %}
  {% include archive-single-talk.html %}
{% endfor %}

## Domestic Conferences

{% for post in domestic %}
  {% include archive-single-talk.html %}
{% endfor %}
