{% comment %}
  Compact CV entry for a presentation, emitted as an <li> because the CV
  page wraps these in a <ul>. Same meta line as the Presentations page.
{% endcomment %}
{% include base_path %}
{% assign entry_title = post.title | markdownify | remove: "<p>" | remove: "</p>" | strip %}
{% assign entry_type = post.talk_type | default: post.type | remove: " presentation" | remove: " (English)" | strip %}
<li class="list-entry list-entry--compact" itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="list-entry__title" itemprop="headline"{% if post.title_lang %} lang="{{ post.title_lang }}"{% endif %}><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ entry_title }}</a></h3>
  <p class="list-entry__meta">
    {% if entry_type != "" %}<span class="tag{% if entry_type contains 'Invited' %} tag--invited{% endif %}">{{ entry_type }}</span>{% endif %}
    {% if post.venue %}<span{% if post.venue_lang %} lang="{{ post.venue_lang }}"{% endif %}>{{ post.venue }}</span>{% endif %}
    {% if post.location %}<span>{{ post.location }}</span>{% endif %}
    {% if post.date %}<time class="date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %Y' }}</time>{% endif %}
  </p>
</li>
