{% comment %}
  Profile links from site.author in _config.yml, in a fixed order; a field
  left blank there is skipped. Outputs <li> items only (wrap them in a list).
    include.arrows  true adds the external-link glyph (hero contact list)
{% endcomment %}{% assign a = site.author %}{% if include.arrows %}{% capture arrow %} <span class="ar ne" aria-hidden="true">&#8599;</span>{% endcapture %}{% else %}{% assign arrow = "" %}{% endif %}
{% if a.googlescholar %}<li><a href="{{ a.googlescholar }}">Google Scholar{{ arrow }}</a></li>{% endif %}
{% if a.orcid %}<li><a href="{{ a.orcid }}">ORCID{{ arrow }}</a></li>{% endif %}
{% if a.semantic %}<li><a href="{{ a.semantic }}">Semantic Scholar{{ arrow }}</a></li>{% endif %}
{% if a.arxiv %}<li><a href="{{ a.arxiv }}">arXiv{{ arrow }}</a></li>{% endif %}
{% if a.scopus %}<li><a href="{{ a.scopus }}">Scopus{{ arrow }}</a></li>{% endif %}
{% if a.pubmed %}<li><a href="{{ a.pubmed }}">PubMed{{ arrow }}</a></li>{% endif %}
{% if a.github %}<li><a href="https://github.com/{{ a.github }}">GitHub{{ arrow }}</a></li>{% endif %}
{% if a.kaggle %}<li><a href="https://kaggle.com/{{ a.kaggle }}">Kaggle{{ arrow }}</a></li>{% endif %}
{% if a.linkedin %}<li><a href="https://www.linkedin.com/in/{{ a.linkedin }}">LinkedIn{{ arrow }}</a></li>{% endif %}
{% if a.researchgate %}<li><a href="{{ a.researchgate }}">ResearchGate{{ arrow }}</a></li>{% endif %}
{% if a.academia %}<li><a href="{{ a.academia }}">Academia{{ arrow }}</a></li>{% endif %}
{% if a.bluesky %}<li><a href="https://bsky.app/profile/{{ a.bluesky }}">Bluesky{{ arrow }}</a></li>{% endif %}
{% if a.mastodon %}<li><a href="{{ a.mastodon }}">Mastodon{{ arrow }}</a></li>{% endif %}
{% if a.twitter %}<li><a href="https://twitter.com/{{ a.twitter }}">X / Twitter{{ arrow }}</a></li>{% endif %}
{% if a.youtube %}<li><a href="https://www.youtube.com/@{{ a.youtube }}">YouTube{{ arrow }}</a></li>{% endif %}
